@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  font-family: "Yanone Kaffeesatz", helvetica, arial, sans-serif;
}

body {
  margin:0 auto;
  padding:0;

  max-width: 2000px;

  border: 1px solid red;
}

/*----------------------------------------------------------------------HEADER*/

header {
  width: 100%;

  border: 1px solid red;
  text-align: center;

}

/*LOGO*/

.logo {
  display:block;
  margin: 0 auto;
  width: 150px;

  border: 1px solid red;
}

#home .logo:hover {
  opacity: 0.4;

  -webkit-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
  ms-transition:all 0.3s ease-in-out;

}


/*FIX ICON FOR IE8*/

/* Depends on Modernizr */
.no-inlinesvg .logo {
  background-image: url("../img/ww-logo.png");
}

/*NAV*/

#nav {
  border: 1px solid red;
  display: block;
  padding: 0;
  margin: 10px;

  font-size: 1.5rem;
}

#nav li {
  list-style-type: none;
}

#nav a{
  text-decoration: none;
  color: #666666;
}

#nav a:hover,
#nav a:focus,
#nav a:active {
  color: #ccc;

  -webkit-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
  ms-transition:all 0.3s ease-in-out;
}


/*----------------------------------------------------------------------BANNER*/

.banner {
  width: 100%;
  height: 10px;
  margin:0;
  padding:0;
}
